@media all and (max-width: 484px) {
  .cream {
    background-color: #e1e9ee;
    margin-top: 15%;
    height: 100%;
  }

  .info {
    padding-top: 4%;
    padding-bottom: 4%;
    color: #0873c9;
    text-align: left;
    margin-left: 9%;
  }
}

@media all and (min-width: 484px) {
  .ice {
    position: relative;
    width: 700px;
    height: 700px;
    margin: 5% auto 0 auto;
  }
  .cream {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 698px;
    height: 650px;
    background-color: #e1e9ee;
    border: 2px solid #6ebebd;
    border-radius: 8px;
  }

  .info {
    padding-top: 4%;
    padding-bottom: 4%;
    color: #0873c9;
    text-align: center;
  }
}
