form {
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-left: 9%;
  margin-bottom: 1%;
  color: #c0c0c0;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
}

input {
  margin-bottom: 3%;
  background: #5b5b5b;
  padding: 12px;
  border-style: none;
  outline: none;
  border-radius: 3px;
  width: 83%;
  height: 39px;
  color: #f1f1f1;
}

input:focus {
  border-color: #7cb9e8;
  box-shadow: 0 0 6px 0 #7cb9e8;
}

.login {
  border: none;
  background: none;
}

.submit button {
  width: 83%;
  height: 42px;
  margin-top: 2%;
  background: #318ce7;
  border-style: none;
  border-radius: 3px;
  color: #d3d3d3;
  cursor: pointer;
  font-size: medium;
  text-align: center;
  font-weight: bold;
}

.login {
  display: block;
  text-align: left;
  margin-left: 9%;
  margin-top: 1.5%;
  font-size: small;
  font-weight: 20px;
}

.login span {
  color: #989898;
  font-size: 12px;
  padding-right: 1%;
  font-style: normal;
  cursor: default;
}
