form {
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-left: 9%;
  margin-bottom: 1%;
  color: #0873c9;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
}

input {
  margin-bottom: 3%;
  background: #a7c2e5;
  padding: 12px;
  border-style: none;
  outline: none;
  border-radius: 3px;
  width: 83%;
  height: 39px;
  color: #281f23;
}

input:focus {
  border-color: #0873c9;
  box-shadow: 0 0 6px 0 #0873c9;
}

.login {
  border: none;
  background: none;
}

.submit button {
  width: 83%;
  height: 42px;
  margin-top: 2%;
  background: #0873c9;
  border-style: none;
  border-radius: 3px;
  color: #e1e9ee;
  cursor: pointer;
  font-size: medium;
  text-align: center;
  font-weight: bold;
}

.login {
  display: block;
  text-align: left;
  margin-left: 9%;
  margin-top: 1.5%;
  font-size: small;
  font-weight: 20px;
}

.login span {
  color: #989898;
  font-size: 12px;
  padding-right: 1%;
  font-style: normal;
  cursor: default;
}
